subtle_python_packages
numpy==1.21.6
pydicom==2.3.1
scipy==1.7.3
git+https://github.com/subtlemedicalinc/HD-BET
opencv-python-headless<4.3.0
scikit-image==0.19.3
astor==0.7.1
numba==0.56.4
packaging
PyYAML>=5.1,<5.2
llvmlite==0.39.1
MarkupSafe==2.0.1
networkx==2.6.3
albumentations
typing_extensions==4.5.0
pytorch-ignite==0.4.11
multiprocess==0.70.14
GPUtil==1.4.0
nibabel==5.1.0
tensorflow==2.8.0
MarkupSafe==2.0.1
regex